## 1. Variables

Sumar 10+ 30

Declara la variable "sueldo", debe valer 16000

Mostrar la variable sueldo

Declarar la variable "bono", debe valer 4000

Declarar la variable total, debe ser la suma de sueldo y bono

Declarar la variable "neto", debe ser el resultado de restar 2000 al sueldo total

Declarar la variable "anual", debe ser el resultado de multiplicar neto por 12

Declarar la variable "diario", debe ser el resultado de dividir neto entre 30

Usar el operador "<" para calcular si el sueldo diario es menor a 700

Usar el operador ">" para calcular si el sueldo diario es mayor a 1000

## 2. Cadenas

Declarar la variable "hola", debe contener "hola mundo"

Mostrar la variable hola usando la funcion print

Mostrar un texto usando saltos de líneas

Declarar la variable nombre

Usar print y la variable "nombre" para mostrar "Hola Dan"

Volver a mostrar el texto anterior, usando formatted string literals

Repetir la cadena "nombre" 4 veces

Convertir la variable "nombre" a mayúsculas

Calcular la cantidad de letras en la variable "nombre"

Usar "input" y "len" para calcular el tamaño de la cadena dada por el usuario

## 3. Listas

Crear una lista con nombres

Mostrar el segundo nombre:

Mostrar todos los nombres a partir del segundo

Mostrar los primeros 3 nombres

Buscar el indice de "Maria"

Agregar un nombre a la lista

Eliminar el cuarto nombre de la lista

Crea una lista de listas en Python, donde cada sublista contenga tres elementos: el nombre del estudiante, la edad y el promedio.

Mostrar el nombre y promedio del segundo estudiante en una cadena de texto, ej. "El alumno [Nombre] tiene un promedio de [Promedio]"

## Diccionarios

Crear un diccionario con la siguiente información sobre un libro: "Autor", "Año de lanzamiento", "Páginas", "Costo", "EdiciónLim", "E-libro"

Acceder al autor del libro anterior

Agregar el campo "Género", debe ser igual a "Novela"

Eliminar la clave-valor "Páginas"

Comprobar si existe la clave-valor "Autor"

Obtener el nombre de todas las llaves en el diccionario "libro"

Obtener todos los valores en el diccionario "libro"

## Bucle For

Imprimir los primeros 5 numeros pares:

Imprimir los siguientes nombres

Mostrar el nombre y el indice de cada valor en una sola cadena de texto (Ej. "El nombre Pedro tiene el índice 0")

Utiliza una lista de comprensión para crear una nueva lista que contenga cadenas de texto con el formato "La persona [índice] se llama [nombre]"

Usar la siguiente lista de diccionarios para imprimir los datos de cada médico

In [9]:
doctores = [
    {
        "nombre": "Dr. Juan Pérez",
        "especialidad": "Cardiología",
        "antiguedad": 15
    },
    {
        "nombre": "Dr. Pedro López",
        "especialidad": "Dermatología",
        "antiguedad": 10  
    },
    {
        "nombre": "Dr. Carlos Ramírez",
        "especialidad": "Neurología",
        "antiguedad": 20  
    }
]

In [17]:
from collections import Counter
doctoresa = [
    {"nombre": "Dr. Ramírez", "especialidad": "Cardiología"},
    {"nombre": "Dra. López", "especialidad": "Dermatología"},
    {"nombre": "Dr. Pérez", "especialidad": "Cardiología"},
]

nombres_datos = {(doctor["nombre"], doctor["especialidad"]) for doctor in doctoresa}
print(nombres_datos)
especialidades = [doctor["especialidad"] for doctor in doctoresa]
contador =Counter(especialidades)
contador

{('Dra. López', 'Dermatología'), ('Dr. Pérez', 'Cardiología'), ('Dr. Ramírez', 'Cardiología')}

Counter({'Cardiología': 2, 'Dermatología': 1})

In [13]:
nombres_datos ={(f"Mi nombre es {doctor["nombre"]} , {doctor["especialidad"]} , {doctor["antiguedad"]}") for doctor in doctores}
nombres_datos

{'Mi nombre es Dr. Carlos Ramírez , Neurología , 20',
 'Mi nombre es Dr. Juan Pérez , Cardiología , 15',
 'Mi nombre es Dr. Pedro López , Dermatología , 10'}

## Condicionales

Usar "if" para verificar si la edad dada es mayor o igual a 18, en caso de ser cierto, mostrar "Es mayor de edad"

In [22]:
edad = 16
"Menor" if 0<edad<18 else "MAYOR"

'Menor'

Usar "if" para verificar si la edad dada es mayor o igual a 18:
- En caso de ser cierto, mostrar "Es mayor de edad"
- En caso de ser falso, mostrar "Es menor de edad"

Usar "input" para pedir una contraseña al usuario, posteriormente, aceptarla si tiene un tamaño mayor a 8 y menor a 20 caracteres

Encontrar el numero mayor en la siguiente lista:

Validar que el correo empiece con dr_ y termine con @medical.com

In [39]:
import re
correo = "dr_jaja@medical.com"
patron = r"^dr_.*@medical\.com$"
if re.match(patron,correo):
    print("si")
else:
    print("no")

si

Validar que el correo termine con "@medical.com" o "@hospital.com"

## Funciones

Define una función que solicite al usuario su nombre y luego imprima un mensaje de bienvenida

Define una función que calcule y devuelva el área de un círculo dado su radio

Define una función que calcule y devuelva el precio total de un producto dado su precio base y un impuesto (por defecto del 16%)

Define una función que reciba un número variable de argumentos y devuelva el promedio de dichos números.

## Numpy

Crear un array con los precios de una cafetería

Crear un array de NumPy utilizando los datos de la variable "precios"

Sumar 3 unidades a cada elemento del array "precios".

Seleccionar el segundo valor en la lista

Agregar el precio 6.0 al array de numpy

Borrar el elemento con índice 2

Filtrar y mostrar los elementos del array "precios" que sean menores a 5.

Obtener el valor mínimo, el valor máximo, el promedio y la desviación estándar de los elementos en el array "precios"

Crear un array de NumPy utilizando los datos de la variable "calif_esp" y asignarlo a la variable "calif_arr"

In [61]:
calif_esp=[
    [85, 90, 78], 
    [88, 92, 80], 
    [87, 91, 83], 
    [84, 85, 82]  
]

Obtener la forma (shape) del array "calif_arr"

Obtener el número de dimensiones (ndim) del array "calif_arr".

Obtener el número total de elementos (size) en el array "calif_arr".

Reorganizar el array "calif_arr" para que tenga una forma de 2 filas y 6 columnas utilizando el método "reshape"

Crear una matriz de NumPy llena de ceros con dimensiones de 2 filas y 5 columnas utilizando "zeros"

Crear un array de NumPy que contenga números en un rango desde 0 hasta 15 (exclusivo), con una distancia de 3 unidades, utilizando "arange"

Crear un array de NumPy que contenga 6 valores equidistantes en el intervalo de 0 a 10 (incluyendo el inicio y final), utilizando "linspace"

Crear un generador de números aleatorios (rg) con la semilla igual a 2

Generar un array de 300 números aleatorios entre 0 y 1 utilizando el generador de números aleatorios rg creado previamente

Crear un histograma utilizando matplotlib para visualizar la distribución de los datos

Generar un array de 400 números aleatorios distribuidos normalmente con media 20 y desviación estándar 10 utilizando el generador de números aleatorios "rg"

Crear un histograma utilizando matplotlib con los datos aleatorios anteriores, siguiendo la distribución normal, dividido en 20 bins

## Pandas

In [75]:
import pandas as pd

Crear una Serie de pandas llamada amigos que use la lista "edades" como valores y la lista "nombres" como índices:

In [77]:
nombres= ['Juan', 'Ana', 'Pedro', 'Maria', 'Luis']
edades=[25, 30, 35, 40, 45]

Acceder al valor asociado con el índice "Juan" en la Serie amigos

Obtener todos los valores de la Serie amigos:

Obtener todos los índices de la Serie amigos:

Mostrar los primeros dos elementos de la Serie "amigos"

Mostrar los últimos dos elementos de la Serie amigos:

Ordenar los valores de la Serie amigos en orden ascendente

Convertir la lista de strings "fechas_str" en un objeto Series de pandas de tipo datetime, y asignarlo a la variable cumpleaños

In [85]:
fechas_str = ["1998-10-01", "2000-05-15", "1995-08-20", "1992-04-30", "1987-11-12"]

Obtener el día del mes para cada fecha en la Serie "cumpleaños"

Obtener el mes para cada fecha en la Serie "cumpleaños"

Obtener el día de la semana para cada fecha en la Serie cumpleaños

Formatear cada fecha en la Serie cumpleaños al formato "mm/dd/yy"

Crear un DataFrame de pandas utilizando la lista de diccionarios futbolistas, estableciendo la columna "id" como índice:

In [91]:
futbolistas = [
    {"id": 1, "nombre": "Juan Pérez", "horas_entrenamiento": 20, "posición": "Delantero", "liga": 1},
    {"id": 2, "nombre": "Carlos Ruiz", "horas_entrenamiento": 18, "posición": "Defensa", "liga": 1},
    {"id": 3, "nombre": "Luis Gómez", "horas_entrenamiento": 22, "posición": "Centrocampista", "liga": 1},
    {"id": 4, "nombre": "Miguel Fernández", "horas_entrenamiento": 19, "posición": "Portero", "liga": 1},
    {"id": 5, "nombre": "Andrés Martínez", "horas_entrenamiento": 21, "posición": "Delantero", "liga": 1},
    {"id": 6, "nombre": "Pedro Sánchez", "horas_entrenamiento": 20, "posición": "Centrocampista", "liga": 2},
    {"id": 7, "nombre": "José López", "horas_entrenamiento": 17, "posición": "Defensa", "liga": 2},
    {"id": 8, "nombre": "Fernando Díaz", "horas_entrenamiento": 23, "posición": "Delantero", "liga": 2},
    {"id": 9, "nombre": "David Herrera", "horas_entrenamiento": 16, "posición": "Portero", "liga": 2},
    {"id": 10, "nombre": "Rafael González", "horas_entrenamiento": 19, "posición": "Defensa", "liga": 2},
    {"id": 11, "nombre": "Alberto Ramírez", "horas_entrenamiento": 21, "posición": "Delantero", "liga": 3},
    {"id": 12, "nombre": "Gabriel Muñoz", "horas_entrenamiento": 18, "posición": "Centrocampista", "liga": 3},
    {"id": 13, "nombre": "Mario Castillo", "horas_entrenamiento": 20, "posición": "Defensa", "liga": 3},
    {"id": 14, "nombre": "Enrique Jiménez", "horas_entrenamiento": 17, "posición": "Portero", "liga": 3},
    {"id": 15, "nombre": "Jorge Romero", "horas_entrenamiento": 22, "posición": "Delantero", "liga": 4},
    {"id": 16, "nombre": "Ricardo Hernández", "horas_entrenamiento": 19, "posición": "Defensa", "liga": 4},
    {"id": 17, "nombre": "Diego Vega", "horas_entrenamiento": 20, "posición": "Centrocampista", "liga": 4},
    {"id": 18, "nombre": "Adrián Navarro", "horas_entrenamiento": 21, "posición": "Portero", "liga": 4},
    {"id": 19, "nombre": "Pablo Flores", "horas_entrenamiento": 23, "posición": "Delantero", "liga": 1},
    {"id": 20, "nombre": "Santiago Torres", "horas_entrenamiento": 16, "posición": "Defensa", "liga": 1}
]

Seleccionar las columnas "nombre" y "posición" del DataFrame "futbolistas"

Seleccionar las filas con índices 1 y 2, y las columnas "nombre" y "horas_entrenamiento" del DataFrame "futbolistas"

Seleccionar las filas en las posiciones 1, 3 y 4, y las columnas en las posiciones 0 y 2 del DataFrame "futbolistas"

Calcular el promedio de las horas de entrenamiento agrupado por la columna "posición" en el DataFrame "futbolistas"

Crear una tabla pivote en el DataFrame futbolistas, donde se muestre el mínimo de horas de entrenamiento para cada posición y liga

## Matplotlib

Leer un archivo Excel llamado "futbolistas.xlsx" desde la carpeta "DB", estableciendo la columna "Id" como índice y parseando la columna "Nacimiento" como fecha

Crear un gráfico de dispersión con las "horas de entrenamiento" en el eje x y el "precio" en el eje y

Crear un gráfico de pastel con la distribución de jugadores por liga del DataFrame "futbolistas"

Crear una tabla pivote con las horas de entrenamiento según las prácticas y si fuman o no en el DataFrame "futbolistas"

Crear un gráfico de barras con las horas de entrenamiento según las prácticas y si fuman o no

Crear un gráfico de barras con subplots para cada categoría de "Fuma" en la tabla pivote

Crear un histograma de la columna 'Juegos' del DataFrame "futbolistas"

Calcular un histograma utilizando NumPy con los datos de la columna 'Juegos' del DataFrame futbolistas

## Seaborn

In [107]:
import seaborn as sns

Crea un diagrama de cajas utilizando "boxplot" para mostrar la distribución de los precios en función de si los futbolistas asisten al gimnasio o no

Calcula los cuartiles y los límites para el diagrama de cajas usando los datos de la columna "Precio" y el agrupamiento por "Gimnasio"

Crea una gráfica de puntos con jitter para mostrar la distribución de la altura por liga utilizando "stripplot"

Calcula la matriz de correlación de las columnas numéricas del DataFrame "futbolistas" utilizando "corr"

In [112]:

# Entre 0 y 0,10: correlación inexistente
# Entre 0,10 y 0,29: correlación débil
# Entre 0,30 y 0,50: correlación moderada
# Entre 0,50 y 1,00: correlación fuerte

Crea un heatmap de la matriz de correlación corr con anotaciones, utilizando una paleta de colores 'coolwarm', centrada en 0 y con líneas de separación de 0.5